@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@500;600;700&family=Pacifico&display=swap');



$primaryColor: #fff4f2;
$secondaryColor: #150057;
$bg: #263238;
$text:#3A3845;
$grey:#272525;
$white:#fff;


//fonts 
$fontHeading : 'Fredoka', sans-serif;
$fontBody:'Pacifico', 'cursive';

/* 
// Responsive Variables

$laptop : "only screen and (min-width: 1200px) and (max-width:1600px)";
$lg : "only screen and (min-width: 992px) and (max-width:1200px)";
$md : "only screen and (min-width: 768px) and (max-width:991px)";
$sm : "only screen and (min-width: 576px) and (max-width:767px)"; 


*/

$mobile : "(max-width:767px)";


